@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-scroll;
}

/* MAIN STYLES */
.bg-colour {
  @apply bg-slate-100 dark:bg-[#111827] min-h-screen;
}

.dark-text-primary {
  @apply dark:text-white/80;
}

.dark-text-secondary {
  @apply dark:text-white/60;
}

.light-text-primary {
  @apply text-black/70;
}

.light-text-secondary {
  @apply text-black/50;
}

/* DARK MODE TOGGLES */
.light-mode-toggle {
  @apply p-2 ml-2 bg-slate-700 rounded-sm;
}

.dark-mode-toggle {
  @apply p-2 ml-2 bg-slate-300 rounded-sm;
}

.moon {
  @apply opacity-60 group-hover:-rotate-12 transition duration-500 ease-in-out;
}

.sun {
  @apply text-white/70 group-hover:-rotate-12 transition duration-500 ease-in-out;
}

/* NAVIGATION */
.nav {
  @apply w-full flex justify-center;
}

.nav-container {
  @apply flex flex-wrap justify-between items-center pt-10 w-[680px] mx-5 ;
}

.nav-logo {
  @apply text-xl font-bold tracking-wide light-text-primary dark-text-primary;
}

.nav-logo-span {
  @apply light-text-secondary dark-text-secondary;
}

.nav-links-container {
  @apply flex gap-6 text-black/80 items-center;
}

.nav-links {
  @apply text-base font-normal tracking-wide hover:text-black/80 light-text-secondary dark-text-secondary dark:hover:text-white/90 transition duration-200 ease-in;
}

/* HERO SECTION */
.hero-container {
  @apply flex flex-col gap-4;
}

.hero-image {
  @apply rounded-3xl -ml-2;
}

.hero-title {
  @apply text-2xl sm:text-4xl font-semibold tracking-wide light-text-primary dark-text-primary;
}

/* .hero-profile {
  @apply tracking-wider font-light text-[17px] leading-normal light-text-primary dark-text-secondary mt-1;
} */

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-blue-400;
}

.text-gradient-hover {
  @apply hover:text-purple-400 transition duration-500 ease-in-out;
}

/* FOOTER */
.footer-container {
  @apply flex justify-center py-12;
}

.footer-text {
  @apply text-sm text-black/20 dark:text-white/30;
}

/* PROJECT CARD */
.card-container {
  @apply md:flex sm:flex sm:flex-wrap md:flex-nowrap gap-5 w-full p-4 mt-6 bg-white/5 rounded-sm hover:bg-blue-300/10 transition-colors duration-500 ease-in-out;
}

.img-container {
  @apply md:w-1/2 sm:w-full md:h-auto sm:h-auto;
}

.card-img {
  @apply rounded-sm shadow-md;
}

.project-info-container {
  @apply flex flex-col gap-4 md:w-1/2 sm:w-full pr-2 tracking-wide light-text-primary dark-text-primary mt-4 sm:mt-0 ;
}

.project-title {
  @apply leading-none text-base font-medium flex gap-1 items-center;
}

.project-summary {
  @apply text-sm font-light light-text-secondary dark-text-secondary;
}

.project-card-btn {
  @apply flex items-center gap-2 text-sm font-light leading-none p-2.5 bg-white/10 rounded-sm hover:bg-purple-200/20 transition-colors duration-500 ease-in-out;
}

.btn-icon {
  @apply text-xl transform group-hover:rotate-0 transition-transform duration-300 ease-in-out;
}

/* CODE BOX */
/* main styling within CodeBox component */

.code-box-links {
  @apply text-blue-400 hover:text-blue-300 transition duration-500 ease-in-out;
}

.blink {
  -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
  animation: blink-animation 1.2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
